<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bjerva.tsplex"
    android:versionCode="11"
    android:versionName="0.4.0" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- Temporary restriction for 0.4.0 -->
    <compatible-screens>
	    <screen android:screenSize="small" android:screenDensity="ldpi" />
	    <screen android:screenSize="small" android:screenDensity="mdpi" />
	    <screen android:screenSize="small" android:screenDensity="hdpi" />
	    <screen android:screenSize="small" android:screenDensity="xhdpi" />
	
	    <screen android:screenSize="normal" android:screenDensity="ldpi" />
	    <screen android:screenSize="normal" android:screenDensity="mdpi" />
	    <screen android:screenSize="normal" android:screenDensity="hdpi" />
	    <screen android:screenSize="normal" android:screenDensity="xhdpi" />
	</compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ikon_tsp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bjerva.tsplex.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>